@use "global" as *;

.c-to-top {
  position: fixed;
  right: rem(10);
  bottom: rem(100);
  z-index: 500;

  @include mq(md){
    right: rem(20);
    bottom: rem(40);
  }
}

.c-to-top a {
display: block;
background-image: url(../images/common/top-to-btn.png);
background-size: cover;
width: rem(52);
height: rem(52);
background-position: center;
background-repeat: no-repeat;
}

.c-to-top a span {
  position: absolute;
  color: #fff;
}