@use "global" as *;

.p-about-about {
  position: relative;
  padding-top: rem(114);
  padding-bottom: rem(107);

  @include mq(md){
    padding-top: rem(180);
  }
}

.p-about-about::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -100;
  background-image: url(../images/common/top-concept__bg-sp.png);
  background-size: 157%;
  background-repeat: no-repeat;
  top: 0;
  left: rem(10);
  
  @include mq(md) {
    background-image: url(../images/common/top-concept__bg-pc.png);
    background-size: 70%;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -100;
    background-image: url(../images/common/top-concept__bg-sp.png);
    background-size: 157%;
    background-repeat: no-repeat;
    top: 0;
  }
}

.p-about-about__inner {
  @include mq(xl) {
    width: rem(1050);
    max-width: 100%;
    margin: auto;
  }
}

.p-about-about__contents {
  padding-top: rem(154);

  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: rem(1142);
    max-width: 100%;
    gap: rem(95);
  }
}

.p-about-about__contents:nth-child(2n+1){
  padding-top: rem(104);
}

.p-about-about__contents:nth-child(odd) {
  flex-direction: row;
}

.p-about-about__content {
  padding: 0 rem(20);

  @include mq(md) {
    width: rem(407);
    max-width: 100%;
    padding: 0;
  }
}

.p-about-about__img.concept-box__img {
  margin-top: rem(45);
}