@use "global" as *;


.p-contact-form {}

.p-contact-form__item {
  border-top: 1px solid #DDD;
  padding: rem(28) 0;

  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.p-contact-form__item:last-of-type {
  border-bottom: 1px solid #DDD;
}

.p-contact-form__dt {
  font-weight: bold;

  @include mq(md) {
    flex: 0 0 rem(240);
  }
}

.p-contact-form__dt span {
  color: #fff;
  background-color: #EE5A6D;
  font-size: rem(12);
  padding: rem(4) rem(8);
  border-radius: rem(4);
  margin-left: rem(12);
  vertical-align: middle;
}

.p-contact-form__dd {
  flex: 1 0 rem(488);
}

.p-contact-form__dd--mt20 {
  margin-top: rem(20);

  @include mq(md) {
    margin-top: initial;
  }
}

.p-contact-form__dd--checkbox {
  margin-top: rem(4);

  @include mq(md) {
    margin-top: initial;
  }
}
.p-contact-form__dd--checkbox p {

  @include mq(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Chrome、Opera、Safari用 */
::-webkit-input-placeholder {
  color: #C2C2C2;
}

/* Firefox用 */
::-moz-placeholder {
  color: #C2C2C2;
}

/* Internet Explorer 10+ 用 */
:-ms-input-placeholder {
  color: #C2C2C2;
}

/* Microsoft Edge 用 */
::-ms-input-placeholder {
  color: #C2C2C2;
}

.p-contact-form__btn {
  margin-top: rem(72);
  text-align: center;
}


