@use "global" as *;


.p-contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include mq(md) {
    width: rem(778);
    max-width: 100%;
    margin-top: rem(60);
  }
}

.p-contact-form__item {
  margin-top: rem(28);
  border-top: 1px solid #DDD;
  padding-top: rem(28);

  @include mq(md) {
    display: flex;
    align-items: center;
  }
}

.p-contact-form__item:first-child {
  margin-top: 0;
}

.p-contact-form__item:last-of-type {
  border-bottom: 1px solid #DDD;
  padding-bottom: rem(28);
}

.p-contact-form__label-box{
  @include mq(md) {
    flex: 0 0 rem(240);
  }
}

.p-contact-form__label {
  @include mq(md) {
    flex: 0 0 rem(240);
  }
}


.p-contact-form__required {
  color: #fff;
  background-color: $accent-color2;
  font-weight: bold;
  font-size: rem(12);
  padding: rem(3) rem(6);
  margin-left: rem(12);
  border-radius: 4px;
}

.p-contact-form__detail {
  font-size: rem(11);
  color: #888;
}

.p-contact-form__input-items{
  width: 100%;
}

.p-contact-form__input:nth-child(n+2) {
  margin-top: rem(20);
}

.p-contact-form__input,
.p-contact-form__textarea {
  margin-top: rem(12);
  padding: rem(13) rem(16);
  background-color: #F6F6F6;
  border-radius: 4px;
  line-height: calc(28 / 16);
  width: 100%;
  color: #C2C2C2;

  @include mq(md) {
    margin-top: 0;
  }
}

.p-contact-form__input,
.p-contact-form__textarea {
  color: #393939;
}

.p-contact-form__input::placeholder,
.p-contact-form__textarea::placeholder {
  color: #C2C2C2;
}

.p-contact-form__input:focus,
.p-contact-form__textarea:focus {
  border-color: #2f80ed;
  outline: none;
}

.p-contact-form__textarea {
  resize: none;
}

.p-contact-form__submit {
  padding: rem(10);
  margin: rem(40) auto 0;
  color: $main-color;
  background-color: #fff;
  border-radius: 24px;
  border: 1px solid $main-color;
  transition: background-color 0.3s;
  width: calc(273 / 335) * 100%;

  @include mq(md) {
    margin-top: rem(60);
    padding: rem(17);
    width: rem(360);
    max-width: 100%;
    border-radius: 28px;
  }
}

.p-contact-form__submit:hover {
  color: #fff;
  background-color: $main-color;
}

select {
  background-image: url("../images/common/Icon-bottom.png");
  background-size: rem(20) rem(20);
  background-position: center right rem(10);
  background-repeat: no-repeat;
  appearance: none;

}

select::-ms-expand {
  display: none;
}


// チェックボックス

.p-contact-form__content {
  margin-top: rem(20);
  display: flex;
  flex-wrap: wrap;
  gap: rem(24) rem(16);
}


.p-contact-form__checkbox input[type="checkbox"] {
  display: none;
}

.p-contact-form__checkbox label {
  font-size: rem(14);
}



.p-contact-form__checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.p-contact-form__checkbox label:before {
  content: "";
  display: inline-block;
  width: rem(24);
  height: rem(24);
  border: 1px solid $main-color;
  position: absolute;
  top: rem(-2);
  left: 0;
}

.p-contact-form__checkbox input[type="checkbox"]:checked+label:before {
  content: "✔";
  color: #fff;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-contact-form__radio-group {
  margin-top: rem(20);
  display: flex;
  align-items: center;
  gap: rem(40);

  @include mq(md){
  margin-top: 0;
  }
}

.p-contact-form__radio-group label {
  font-size: rem(14);
}

/* ラジオボタンの既定のスタイルをリセット */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: rem(24);
  height: rem(24);
  border-radius: 50%;
  border: 1px solid $main-color;
  position: relative;
  vertical-align: bottom;
  cursor: pointer;
}

/* ラジオボタンが選択されたときにスタイルを変更 */
input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: rem(12);
  height: rem(12);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $main-color;
}