@use "global" as *;

.p-footer-top {
  background-image: url(../images/common/footer__bg-top-sp.png);
  background-size: cover; 
  background-repeat: no-repeat;
  padding-top: rem(45);
  width: 100%;

  @include mq(md) {
    background-image: url(../images/common/footer__bg-top-pc.png);
    background-size: cover; //比率はそのままで￥拡張縮小、上下または左右が切り捨てになる。
    background-position: bottom;
    background-repeat: no-repeat;
  }
}