@use "global" as *;

.p-header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: rem(60);
  box-shadow: 0px 3px 6px #00000029;

  @include mq(md) {
    height: rem(80);
  }
}

.p-header__inner.l-inner {
  height: inherit;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: rem(1200);
  max-width: 100%;
}

.p-header__contents {
  display: none;

  @include mq(lg) {
    display: flex;
    gap: rem(32);
  }
}

.p-header__content {
  text-align: right;
}

.p-header__address {
  font-size: rem(12);
  line-height: 1;
}

.p-header__tel {
  font-size: rem(32);
  letter-spacing: -0.02em;
  color: $main-color;
  font-weight: $bold;
  line-height: 1;
}

.p-header__tel img {
  width: rem(28);
  height: rem(28);
  display: inline-block;
}