@use "global" as *;

.p-page-contact__inner.l-inner {
  @include mq(md) {
    width: rem(778);
    max-width: 100%;
  }
}

.p-page-contact__text {
  font-size: rem(14);
  line-height: calc(24 / 14);
}

.p-page-contact__text span {
  color: $accent-color2;
}

.p-page-contact__section-box {
  margin-top: rem(100);

  @include mq(md) {
    margin-top: rem(160);
  }
}

.p-page-contact__section-title {
  text-align: center;
  line-height: calc(28 / 20);
}