@use "global" as *;

.p-page-staff-member {

}

.p-page-staff-member__inner {

}

.p-top-about__section-title {

}

.p-page-staff-member__items {
  margin-top: rem(43);
}

.p-page-staff-member__item {

}

.p-page-staff-member__item:nth-child(n+2){
  margin-top: rem(46);

  @include mq(md){
    margin-top: rem(63);
  }
}

.p-page-staff-member__title {
  padding-bottom: rem(11);
  font-size: rem(16);
  letter-spacing: 0.08em;
  border-bottom: 1px solid #707070;
  font-weight: bold;
}

.p-page-staff-member__lists {
  display: grid;

  @include mq(md){
    grid-template-columns: repeat(3, 1fr);
    gap: rem(80);
  }
}

.p-page-staff-member__list {

}
.p-page-staff-member__list:nth-child(n+2) {
  margin-top: rem(60);

  @include mq(md){
    margin-top: 0;
  }
}

.p-page-staff-member__img {
  margin-top: rem(40);
  aspect-ratio: 355 / 355;
  overflow: hidden;
}
.p-page-staff-member__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-page-staff-member__description {
  margin-top: rem(19);
  font-weight: bold;
  letter-spacing: 0.08em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(12);

  @include mq(md){
    font-size: rem(18);
  }
}
.p-page-staff-member__description span{
  display: inline-block;
  font-size: rem(12);
}
.p-page-staff-member__dl {
  margin-top: rem(18);
}

.p-page-staff-member__content {
  display: flex;
  font-size: rem(14);
  line-height: calc(24 /14);
}

.p-page-staff-member__dt {
  background-color: #DFF1FD;
  width: rem(140);
  max-width: 100%;
  padding-top: rem(21);
  padding-left: rem(20);
  padding-bottom: rem(20);
  border: 1px solid #fff;
}

.p-page-staff-member__dd {
  width: calc(100% - rem(140));
  max-width: 100%;
  padding-top: rem(21);
  padding-left: rem(20);
  padding-bottom: rem(20);
  border: 1px solid #fff;
}

