@use "global" as *;

.pc-nav {}

.pc-nav__items {
  display: flex;
  gap: rem(24);
}

.pc-nav__item {
  display: flex;
  align-items: center;
}

.pc-nav__item svg {
  width: rem(24);
  height: rem(24);
  margin: auto;
  display: block;
}

.pc-nav__item a {
  font-size: rem(11);
  font-weight: $bold;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.pc-nav__item a::before {
  position: absolute;
  content: '';
  background-color: $main-color;
  width: rem(20);
  height: rem(2);
  left: calc(50% - 10px);
  bottom: 0;
  transform-origin: center top;
  transform: scale(0, 1);
  transition: transform .3s;
}

.pc-nav__item a:hover {
  color: $main-color;
}

.pc-nav__item a:hover::before {
  transform-origin: center top;
  transform: scale(1, 1);
}

.pc-nav__item a:hover svg {
  fill: $main-color;
}

