@use "global" as *;

.p-top-news__contents {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  z-index: 100;

  @include mq(md) {
    display: flex;
    flex-direction: inherit;
    gap: rem(60);
  }
}

.p-top-news__news {}

.p-top-news__items {
  margin-top: rem(43);

  @include mq(md) {
    width: calc(541 / 1078) * 100%;
  }
}

.p-top-news__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #393939;
  padding-left: rem(16);


}

.p-top-news__item-footer {
  padding: 0 rem(6);
  border-bottom: 1px solid #393939;
}


.p-top-news__box {
  display: flex;
  align-items: baseline;
}

.p-top-news__body {
  display: flex;
  align-items: baseline;
  transition: 0.3s;
}

.p-top-news__body:hover {
  color: $main-color;
}

.p-top-news__jp-news {
  margin-right: rem(15);
  font-size: rem(20);
  font-weight: bold;
  letter-spacing: 0.08em;
}

.p-top-news__en-news {
  color: $main-color;
  font-size: rem(11);
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: calc(36/11);
}

.p-top-news__past-news {
  color: #888;
  font-size: rem(11);
  border-bottom: 1px solid #888;
}

.p-top-news__date {
  font-size: rem(12);
  line-height: calc(36/12);
  margin-right: rem(36);
  width: rem(66);
}

.p-top-news__title {
  width: calc(100% - rem(66));
  font-size: rem(14);
  line-height: calc(20/14);
  position: relative;
}

.p-top-news__title::after {
  position: absolute;
  content: "";
  padding-bottom: rem(10);
  background-image: url(../images/common/icon-right.png);
  background-size: cover; //比率はそのままで￥拡張縮小、上下または左右が切り捨てになる。
  background-position: center;
  background-repeat: no-repeat;
  width: rem(14);
  height: rem(14);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.p-top-news__title:hover::after {
  right: rem(-6);
  background-image: url(../images/common/arrow-right-blue.png);
}

.p-top-news__time-img {
  aspect-ratio: 335 / 117;
  overflow: hidden;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;


  @include mq(md) {
    width: calc(477/1078)*100%;
  }
}

.p-top-news__time-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}