@use "global" as *;

.l-top-blog {
  margin-top: rem(100);

  @include mq(md) {
    margin-top: rem(160);
  }
}

.l-top-blog__items {
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(60);
  }
}